
@{
    ViewBag.Title = "Escolher sessão colaborativa";
}

@if (ViewBag.TemSessoes)
{
    using (@Html.BeginForm("EscolherSessao", "Vimaps", FormMethod.Post, new {@class = "form-inline"}))
    {
        <h2>Escolha uma sessão colaborativa <b>existente</b>:</h2>
        @Html.DropDownList("SessaoColaborativaId", null, new {@class = "form-control"})
        <input type="submit" value="Continuar" class="btn "/>
    }
    <hr/>
}
else
{
    <h4>Você ainda não possui nenhuma sessão colaborativa.</h4>
}

    <h2>Crie uma nova sessão colaborativa:</h2>
    
    @using(@Html.BeginForm("CriarSessaoColaborativa","Vimaps", FormMethod.Post, new {@class="form-inline"}))
    {
        <input type="text" id="descricao" name="descricao" placeholder="Minha sessão colaborativa" class="form-control required"/>
        <input type="submit" value="Criar" class="btn "/>
    }


