body {
    margin: 0;
    overflow: hidden;
    font-family: 'Dosis', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

/* ESQUERDA */
#left-panel {
    height: 100%;
    position: absolute;
    left: 0;
}

    #left-panel .bg-overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 42px;
        height: 100%;
        z-index: 10;
        background-color: rgba(255,255,255,0.8);
        z-index: 10;
    }

    #left-panel .panel-trigger {
        width: 42px;
        height: 100%;
        float: right;
    }


    #left-panel > .panel-content {
        width: 42px;
        float: left;
        position: relative;
        z-index: 11;
        top: 25%;
        border-right: solid 2px #e74c3c;
    }


/* DIREITA */
#right-panel {
    height: 100%;
    position: absolute;
    right: 0;
}

    #right-panel .bg-overlay {
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 100%;
        z-index: 10;
        background-color: rgba(255,255,255,0.8);
        z-index: 10;
    }

    #right-panel .panel-trigger {
        width: 42px;
        height: 100%;
        float: left;
    }

    #right-panel > .panel-content {
        width: 42px;
        float: left;
        position: relative;
        z-index: 11;
        top: 25%;
    }

/* CIMA */
#top-panel {
    width: 100%;
    position: absolute;
    top: 0;
}


/* BAIXO */
#bottom-panel {
    width: 1100px;
    position: fixed;
    bottom: 0;
    left: 50%;
    margin-left: -550px;
}

    #bottom-panel .bg-overlay {
        border-top: solid 2px #e74c3c;
        border-left: solid 2px #e74c3c;
        border-right: solid 2px #e74c3c;
        border-radius: 5px 5px 0 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-color: rgba(255,255,255,0.8);
        position: absolute;
    }

    #bottom-panel > .panel-content {
        width: 100%;
        z-index: 11;
        position: relative;
    }

/* buttons */
.button-toolbar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 32px;
    height: 32px;
    margin: 0 0 0 5px;
    float: left;
}

.icon-rect {
    background-image: url('/Content/icons/rect.png');
}

.icon-circle {
    background-image: url('/Content/icons/circle.png');
}

.icon-elipse {
    background-image: url('/Content/icons/elipse.png');
}

.icon-pin {
    background-image: url('/Content/icons/pin.png');
}

.icon-pencil {
    background-image: url('/Content/icons/pencil.png');
}

.icon-text {
    background-image: url('/Content/icons/text.png');
}

.icon-youtube {
    background-image: url('/Content/icons/youtube.png');
}

.icon-speaker {
    background-image: url('/Content/icons/speaker.png');
}

.icon-record {
    background-image: url('/Content/icons/record.png');
}

.icon-record.recording {
    background-image: url('/Content/icons/stop.png');
}

.icon-stop {
    background-image: url('/Content/icons/stop.png');
}

.icon-play {
    background-image: url('/Content/icons/play.png');
}

.icon-ok {
    background-image: url('/Content/icons/ok.png');
}

.icon-delete {
    background-image: url('/Content/icons/delete.png');
}

.icon-close {
    background-image: url('/Content/icons/close.png');
}

.icon-cursor {
    background-image: url('/Content/icons/cursor.png');
}

.icon-camera-on {
    background-image: url('/Content/icons/webcam-on.png');
}

.icon-camera-off {
    background-image: url('/Content/icons/webcam-off.png');
}

.icon-hangout-on {
    background-image: url('/Content/icons/hangout-on.png');
}

.icon-hangout-off {
    background-image: url('/Content/icons/hangout-off.png');
}

/* thumbs */

.miniaturas {
    overflow-x: hidden;
    white-space: nowrap;
    padding: 10px;
}

    .miniaturas .miniatura {
        display: inline-block;
    }

        .miniaturas .miniatura img:not(.icon-arrow) {
            width: 195px;
            height: 104px;
            margin-right: 5px;
            cursor: pointer;
            float: left;
            opacity: .8;
        }

            .miniaturas .miniatura img:hover {
                opacity: 1;
            }

            .miniaturas .miniatura.info {
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                margin-top: 15px
            }

            .miniaturas .miniatura.info > h3 {
                margin: 0;
            }


            .icon-arrow {
                height: 48px;
                float:left
            }
            
.miniatura:not(.info):not(.selecionado) img {
    outline: 1px solid white;
    outline-offset: -4px;
}

.miniatura.selecionado img {
    outline: 4px solid #e74c3c;
    outline-offset: -4px;
}

.clear {
    clear: both;
}


/* dragabble toolbar */
.drag {
    cursor: move;
}

.toolbar {
    display: inline-block;
    border-radius: 4px;
    font-size: 15px;
    top: 150px;
    left: 300px;
    position: absolute;
}

    .toolbar .bg {
        border: solid 2px #e74c3c;
        bottom: 0;
        width: 100%;
        height: 100%;
        z-index: -11;
        background-color: rgba(255,255,255,0.8);
        position: absolute;
    }

    .window-title {
        background: #E74C3C;
        margin: 0 5px 0 5px;
        padding: 3px 3px 5px 3px;
        z-index: 11;
        position: relative;
        color: white;
        display: inline-block;
    }
    
    #bottom-panel .window-title {
        border-radius: 4px 4px 0 0;
    }
    
    .window-title-info {
        background: #FFF;
        color: #E74C3C;
        border-radius: 4px ;
        margin: 0 5px 0 5px;
        padding: 3px 10px;
        z-index: 11;
        position: relative;
        display: inline-block;
    }

    .direita {
        float: right
    }

    .window-title-info:hover {
        background: #E74C3C;
        color: #fff;
    }

    .window-title-info a {
        text-decoration: none;
        color: #E74C3C;
    }

    .window-title-info a.vimaps {
        color: blue;
        background: url('/Content/icons/vimaps16.png') no-repeat;
        padding-left: 20px
    }

    .window-title-info a.participants {
        background: url('/Content/icons/participants16.png') no-repeat;
        padding-left: 20px
    }

    .window-title-info a.reorder {
        background: url('/Content/icons/reorder16.png') no-repeat;
        padding-left: 20px
    }

    .window-title-info a.delete {
        background: url('/Content/icons/delete16.png') no-repeat;
        padding-left: 20px
    }
    
    .window-title-info:hover a {
        color: #FFF;
    }

    .toolbar .tools {
        z-index: 11;
        position: relative;
        padding: 4px;
    }

    .toolbar .tools-content {
        padding-left: 5px;
    }

    /*Menu superior*/
    #menu-superior {
        list-style: none;
        float: left;
        margin-top: 5px;
    }
    
    #menu-superior li {
        background: #FFF;
        color: #E74C3C;
        border-radius: 4px ;
        margin: 0 5px 2px 5px;
        padding: 3px 10px;
        z-index: 11;
        position: relative;
        float: left;
    }

    #menu-superior li a {
        color: #E74C3C;
    }

    #menu-superior li:hover,
    #menu-superior li:hover > a {
        background: #E74C3C;
        color: #fff;
        cursor: pointer;
    }
        #menu-superior li:hover > ul {
            display: block;
        }
    
    #menu-superior li a {
        text-decoration: none;
    }

    /* sub */
    #menu-superior ul {
        display: none;
        list-style: none;
        position: absolute;
        border-radius: 4px;
        width: 150px;
        padding: 5px 0 5px 0;
        margin: 0 0 0 -15px;
    }



/* minimize buttons */
.troggle-minimize, .troggle-close {
    cursor: pointer;
    margin-left: 30px;
    padding: 0 5px;
    border: solid 1px #fff;
    border-radius: 4px;
    color: #fff;
}

.troggle-minimize:hover, .troggle-close:hover {
    color: #E74C3C;
    background: #fff;
}


.sem-objetos {
    text-align: center;
    width: 100%;
    height: 100%;
    margin-top: 300px;
}

.img-tooltip {
    width: 360px;
    height: 192px;
}

.collab-tooltip-styling {
    color: black;
    font-size: 10px;
    border-color: #E74C3C;
    border-radius: 3px;
    max-width: 600px;
  }

#sortable-novo {
    margin-bottom: 10px
}

/*notification */
.noti_bubble {
    position:relative;
    top: -5px;
    right: 15px;
    text-align: center;
    padding:1px 2px 1px 2px;
    background-color:red;
    color:white;
    font-weight:bold;
    font-size: 12px;
    z-index: 9999;
    float: right;
    width: 10px;
    
    border-radius:30px;
    box-shadow:1px 1px 1px gray;
}


.btn[disabled] {
    opacity: 0.6;
}

#audio-record-toolbar {
    display: none;
}

#video-record-toolbar {
    display: none;
    left: 20%;
    top: 20%;
}
#video-record-toolbar .tools {
    padding: 0
}

#video-record-toolbar video, #media-player-toolbar video {
    width: 420px;
    height: 300px;
    margin: auto
}

#media-player-toolbar {
    display: none;
}
#media-player-toolbar .btn {
    float:right
}


/* bootstrap overrides */
.navbar-fixed-top, .navbar-fixed-bottom {
    position: inherit;
}
.navbar {
    margin-bottom: 0;
}

label {
    margin: 0;
}

.list-scroll {
    width: 1000px;
    margin: auto;
    max-height: 350px;
}

.slick-prev:before, .slick-next:before { 
    color:#e74c3c !important;
}

.slick-slider {
    margin-bottom: 0;
}

.session-title {
    display: inline-table;
}

#videoConferenceConteiner {
    margin: auto;
    width: 300px;
    float: right;
    overflow: hidden;
}

#videoConferenceConteiner #controls {
    float: right;
    margin-top: 10px;
}

#remoteVideos {
    
}

#remoteVideos video {
    height: 45px;
    float: right;
    margin: 2px 5px;
}

#localVideo {
    margin: 2px 0;
    height: 45px;
    float: right;
}