body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Dosis', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
/*input,*/
select,
textarea {
    max-width: 280px;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
    font-family: 'Dosis', sans-serif;
}

ul {
    margin: 0;
    padding: 0;
}

.miniaturas {
    overflow-x: hidden;
    white-space: nowrap;
    margin-top: 15px;
}

    .miniaturas .miniatura {
        display: inline-block;
    }

        .miniaturas .miniatura img:not(.icon-arrow) {
            width: 195px;
            height: 104px;
            margin-right: 5px;
            cursor: pointer;
            float: left;
            opacity: .8;

            -webkit-box-shadow: 2px 2px 5px 0px rgba(0,0,0,0.75);
            -moz-box-shadow:    2px 2px 5px 0px rgba(0,0,0,0.75);
            box-shadow:         2px 2px 5px 0px rgba(0,0,0,0.75);
        }

            .miniaturas .miniatura img:hover {
                opacity: 1;
            }

            .miniaturas .miniatura.info {
                display: inline-block;
                margin-right: 5px;
                vertical-align: top;
                margin-top: 15px
            }

            .miniaturas .miniatura.info > h3 {
                margin: 0;
            }

            .icon-arrow {
                height: 48px;
                float:left
            }
            
.miniatura img:not(.icon-arrow):not(.selecionado) {
    outline: 1px solid white;
    outline-offset: -4px;
}


.card-sessao {
    background: #fff;
    padding: 5px;
}

    .card-sessao .dados {
        color: #999;
    }

.card-sessao .bg-warning {
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
}
    .card-sessao .bg-warning:hover {
        background-color: #FBF4D2;
    }

    .shared .bg-warning {
        background: #E2EEFC
    }

    .shared .bg-warning:hover {
        background: #CBE0FA
    }
    
    .closed .bg-warning {
        background: #EFEFEF
    }

    .closed .bg-warning:hover {
        background: #E2E2E2
    }

.card-sessao .title {
    font-size: 24px;
    margin: 5px auto;
    padding: 0;
    width: 1000px;
    font-weight: bold;
}

.card-sessao a {
    color: #e74c3c;
    cursor: pointer;
}

.card-sessao a:hover {
    text-decoration: none;
}

.list-scroll {
    width: 1000px;
    margin: auto;
}

.slick-prev:before, .slick-next:before { 
    color:#e74c3c !important;
}

.expand-more {
    background-image: url('/Content/icons/expandmore.png');
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    margin-right: 5px;
}
.expand-less {
    background-image: url('/Content/icons/expandless.png');
    width: 32px;
    height: 32px;
    display: block;
    float: left;
    margin-right: 5px;
}

.session-controls {
    float: right;
}

    .card-sessao .bg-warning:hover .button-toolbar {
        visibility: visible;
    }

.button-toolbar {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    width: 32px;
    height: 32px;
    margin: 0 0 0 5px;
    float: left;
    text-indent: -9999px;
    border-radius: 5px;
    background-color: #fff;
    visibility: hidden;
}

.button-toolbar:hover {
    border: solid 1px #e74c3c;
}

.icon-delete {
    background-image: url('/Content/icons/delete.png');
}
.icon-archive {
    background-image: url('/Content/icons/archive.png');
}
.icon-unarchive {
    background-image: url('/Content/icons/unarchive.png');
}
.icon-close-session {
    background-image: url('/Content/icons/close-session.png');
}
.icon-open-session {
    background-image: url('/Content/icons/open-session.png');
}
.icon-moveup {
    background-image: url('/Content/icons/moveup.png');
}
.icon-movedown {
    background-image: url('/Content/icons/movedown.png');
}
.icon-rename {
    background-image: url('/Content/icons/rename.png');
}
.icon-participants {
    background-image: url('/Content/icons/participants.png');
}

.participantes-home {
    width: 400px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    border: solid 1px #e74c3c;
    display: none;
    float: left;
    position: absolute;
    margin-left: -400px;
    z-index: 1;
}

.ui-autocomplete { position: absolute; cursor: default;z-index:2 !important;} 