@{
    ViewBag.Title = "About";
}

<div class="jumbotron">
    <h1>Projeto Colaborativo</h1>
    <p class="lead">Projeto Colaborativo da Pós em Desenvolvimento de Aplicações Multiplataformas.</p>

    <h4>
        Sistemas Colaborativos são ferramentas utilizadas em redes de computadores
        para facilitar o trabalho em grupo. Essas ferramentas oferecem aos usuários formas de
        interação e a comunicação entre as partes envolvidas que compõe o grupo, em locais
        separados geograficamente, e que a forma de interação aconteça em tempo real ou
        não. Associados aos sistemas colaborativos, a área da Visualização da Informação,
        que favorece a análise e compreensão dos dados por meio de técnicas de computação
        gráficas, pode contribuir para uma análise e tomada de decisão. Diante disso, este
        trabalho tem como objetivo realizar um estudo sobre dados Meteorológicos e a área da
        Visualização da Informação, visando avaliar e aplica-lo no desenvolvimento de uma
        ferramenta de trabalho colaborativo sobre incidências meteorológicas. Com o resultado,
        espera-se disponibilizar uma ferramenta a usuários do INPE e INMET, a qual pode ser
        usada para discussões sobre eventos meteorológicos.
    </h4>

    <p><a href="https://github.com/leonardocadete/ProjetoColaborativo" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>


