@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    Leonardo Cadete<br />
</address>

<address>
    <strong>Support:</strong> <spam>leonardocadete3@@gmail.com</spam>
</address>