@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Projeto Colaborativo</h1>
    <p class="lead">Projeto Colaborativo da Pós em Desenvolvimento de Aplicações Multiplataformas.</p>
    <p><a href="https://github.com/leonardocadete/ProjetoColaborativo" class="btn btn-primary btn-lg">GitHub &raquo;</a></p>
</div>